<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="mx-auto">
            
    <a class="navbar-brand" href="#">K'S GYM<i class="fas fa-dumbbell"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="#" [routerLink] = "['/home']">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/aboutus']">ABOUT US</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="#" [routerLink] = "['/contactus']">CONTACT US </a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink] = "['/whyk']">WHY K'S</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" [routerLink] = "['/gallery']">GALLERY</a>
                    </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" [routerLink] = "['/membership']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MEMBERSHIP
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">MONTHLY</a>
            <a class="dropdown-item" href="#">QUARTERLY</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">YEARLY</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/form']">FORM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/ourtrainer']">OUR TRAINERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/contact']">CONTACT</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/update:id']">UPDATE</a>
        </li> -->

        
       
      </ul>
      <i class=" positiontwitter fab fa-twitter"></i>
      <i class="positionfb fab fa-facebook"></i>
      <i class="positionyoutube fab fa-youtube"></i>
      <!-- <i class="positionsearch fas fa-search"></i> -->
    </div>
</div>  
</nav>
  
