.positiontwitter{
position: relative;
left: 50px;
}
.positionfb{
    
position: relative;
left: 80px;
}
.positionyoutube{
   
    position: relative;
    left: 110px;
    }
    .positionsearch{
        positon:relative;
        left:50px;
    }
     /* .navbar{
        background-image: url("../../assets/images/kk.png");
        width: 500px;
   } */
    /* .nav-link{
        background-color: black;
    }  */
    /* .navbar{
        background-color: gold;
    } */