<div class="why">
    <h2 class="r">Why to choose Body Booster Gym</h2>
    <h4 class="mt-5">
    <li>The first thing when you come to gym is that your body measurement is done so that in future
        you are happy with your body the changes that have changed your life.</li>
    <li>If u really want to change your body then you must come here.</li>
    <li>You will get the good environment.</li>
    <li>The trainers in the gym are certified.</li>
    <li>The machines are of superior quality and good.</li>
    <li>The Gym is very much spacious and air conditioned.</li>
    <li>The location of the gym is good and there is a parking space available.</li>
    <li>In this gym ,girls will get a seperate time so that girls cannot feel hesitate while doing exercise.</li>
    <li>We are sure that you will not get any complain related to exercise.</li>
    <li>We will give you a perfect diet chart that is suitable to your body.</li>
    <li>The day when you enter the gym we give you asureity that you will not get dissapointed here.</li>
    <li>Our packages are very much reasonable so that everyone can pay easily.</li>
    <li style="color: gold;">Our motive is that everyone should be healthy and have a good personality.</li>
    <h5 class="t">Thank You</h5>
</h4>
</div>
