.contact{
    background-color: yellow;
    width:50%;
    text-align: center;
    float:left;
    position: relative;
}
.carousel-item{
    height:80%;
    width:100%;
}
.us{
    background-color: gold;
    width:50%;
    height:450%;
    float:right;
    position: relative;
}