/* .main{
    height:100%;
    width:100%;
    background-color: chartreuse;
}
.pho{
    height: 500%;
    width: 500%;
    float:left;

}
.vid{
    height: 100px;
    width: 50%;
    float: left;
} */