.mai{
    background-color: chocolate;
    height: 600px;
    width: 100%;
    background-size: cover;
}
.im{
    height: 600px;
    width: 100%;
    background-size: cover;
}
.form{
    background-color: gray;
    height: 500px;
    width: 100%;
    background-size: cover;
    padding:30px; 
    /* background-image:url(../../assets/images/images.jfif); */
}
.map{
  
    height:50%;
    width:100%;
}
 .f{
    text-align: center;
    font-size: 30px;
} 
