
    <div class="main">
        <img src="../../assets/images/img.jfif" class = "img">
    </div>
    <div class="contact">
        <h4 style="text-align: center; ">CONTACT US NOW</h4>
        <p style="text-align: center; ">WE ARE ALWAYS READY TO HEAR FROM YOU<br> <br>

                OUR TEAM IS ALWAYS READY TO HEAR FROM YOU. WE MAKE IT A POINT TO RESPOND WITHIN 24 HOURS ON WEEKDAYS AND 48 HOURS ON WEEKENDS.
                <br> <br>
                Head Office: B-18, LGF Dayanand Colony Lajpat Nagar-IV,New Delhi-110024 <br>
                Phone: +91-9871556123/ 9315203070 <br>
                Email: WeCare@Body Booster GYM.com <br>
            </p>
    </div>
    <div class="left">
        <form>
            <label>Name</label><br>
            <input type="text" name="name" placeholder="Full Name" class="name">
            <br>
            <label>Your Email Id</label><br>
            <input type="email" name="name" placeholder="Email Id" class="email">
            <br>
            <label>Subject</label><br>
            <input type="text" name="name" placeholder="Subject" class="subject">
            <br>
            <label>Message</label><br>
            <textarea type="textarea" name="msg" placeholder="Message" class="message"> </textarea>
    
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                <div class="help-block with-errors"></div>
            
                <input type="submit" class=" kam btn btn-success btn-send" value="SUBMIT">
            </div>
    
           
            
    
        </form>
        
    </div>
    <div class="map">
        <img src="../../assets/images/map.jpg" class="ma">
      </div>