
  
* {
  box-sizing: border-box;
  
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.column:hover
{
  transition: 0.8s;

}
.column:hover{
  opacity:0.3;
}
 .card{
  height:100px;
  width: 100%;
}
/* .add{
  height:100px;
  width:100%;
  background-color: chartreuse;
} */
.he{
  text-align: center;
  
}
.card-header{
  background-color: goldenrod;
}
.card-body{
  background-color: gold;
}