<div class="mo">
    <h2 class="p offset-lg-0">Package Details</h2>
    <div class="m">
    <h3>Monthly MemberShip Details</h3>
<ul>
    <li>1 Month:1200/-</li>
    <li>2 Month:2000/-</li>
    <li>5 Month:4500/-</li>
    
</ul>
</div><br/>
<div class="qua">
    <h3>Quarterly MemberShip Details</h3>
    <ul>
    <li>6 Month:5500/-</li>
</ul>
</div><br/>
<div class="yea">
    <h2>Yearly MemberShip Details</h2>
    <ul>
        <li>1 Year:10000/-</li>
        <li>2 Year:18000/-</li>
        <li>3 Year:25000/-</li>
        <li>5 Year:45000/-</li>
    </ul>
</div>
</div>