.mo{
    height:100%;
    width:100%;
    background-size: cover;
   
}
.qua{
    height:100%;
    width:100%;
  
}
.m{
    height:100%;
    width:100%;   
}
.yea{
    height:100%;
    width: 100%;

}